body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  display: block;
background-color: royalblue;
color: white;
padding: 15px;
border-radius: 5px;
margin-top: 10px;
  text-decoration: none;

}

a:hover, button[type="submit"]:hover {
  background-color: rgb(90, 124, 224);
}

button[type="submit"] {
  background-color: royalblue;
  color: white;
  cursor: pointer;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.formulario {
  text-align: center;
  display: inline-block;
}

form {
  margin: 25px;
  flex-direction: column;
}