body {
  margin: 0;
}

.calculadora {
  justify-items: center;
}

.cuerpoCalculadora {
  flex-direction: row;
  padding: 5%;
  border: 2px solid rgb(78, 78, 79);
  border-radius: 5px;
margin-top: 15%;
}

.row {
  display: flex;
}

.boton {
  background-color: rgb(220, 239, 245);
  border: 1px solid grey;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  flex: 1;
  border-radius: 5px;
  text-align: center;
}