body {
  display: flex;
  height: 100vh;
  margin: 0;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  width: 50%;
}

h1 {
  color: royalblue;
  margin: 10%;
  font-weight: bolder;
}

.timeline {
  background-color: royalblue;
  padding: 10%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
margin: 2%;
}

.card {
  padding: 5%;
  margin: 2%;
}

input[type="textarea"] {
  height: 80%;
  width: 50%;
  margin-bottom: 1%;
  text-wrap: wrap;
  padding: 1%;
}

.tweet-titulo {
  height: 40%!important;
  margin-bottom: 1%!important;
  padding: 1%;
}

input[type="button"] {
  background-color: royalblue;
  border: none;
  color: white;
  padding: 2%;
  margin-top: 1%;
}

input[type="button"]:hover {
  background-color: rgb(44, 74, 163);
}

.escribir-tweet {
  display: flex;
  flex-direction: column;
}

.mandarTweet {
  width: 40%;
}

input[type="radio"] {
  margin-right: 2%;
}

select {
  width: 20%;
  padding: 1%;
}