body {
  width: 100%;
  margin: 0!important; /* Quitar margenes de la página */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  background-color: rgb(43, 43, 43);
  padding: 0;
  width: 100%;
}

nav {
  width: 100vw;
  justify-items: right; /* Mover a la derecha los enlaces del menu */
  padding-right: 40px;
}

ul {
  /* Elementos en row */
display: flex;
flex-direction: row;
/* -- */
color: white;
list-style: none; /* Eliminar puntos */
}

a {
  text-decoration: none; /* Eliminar enlace azul */
  color: white;
  padding-left: 15px;
  text-align: right;
  font-weight: 480;
}

.logo {
  display: flex;
  justify-content: left;
  padding-top: 5px;
  padding-left: 10px;
}

.imagen-portada{
text-align: center; /* Centrar imagen */
padding-top: 50px;
}

.texto-bienvenida {
  text-align: center;
}